.main {
    box-sizing: border-box;
    padding: 10px;
    color: white;
    font-size: 50px;
    font-weight: bolder;
    height: 100%;
    background: center no-repeat url("../../assets/main.jpg");
    background-size: cover;
}

.avatarImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


