.main {
	box-sizing: border-box;
	padding: 10px;
	height: 100%;
	width: 100%;
	background: center no-repeat url("../../assets/bgP.jpg");
	background-size: cover;
}

.infoBlock {
	display: flex;
	align-items: center;
	gap: 10px;
	color: #b1e5e7;
	font-size: 30px;
	font-weight: bolder;
	height: 80px;
	padding: 2px;
	margin-bottom: 10px;
}

.avatarImg {
	width: 75px;
	height: 75px;
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #b1e5e7;
	margin-right: 10px;
}

.headerImg {
	object-fit: cover;
	border-radius: 50%;
	border: 2px solid #b1e5e7;
}
.statusBlock {
	display: flex;
	gap: 20px;
}
.descriptionBlock {
	color: #b1e5e7;
	b {
		margin-right: 20px;
		color: #ffffff;
	}
}
.textBlock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.statusBlock {
	font-size: 16px;
}

.changeAvetarBlock {
	display: flex;
	input {
		width: 200px;
	}
}
