.loginBlock {
	padding: 10px;
	align-self: center;
	color: #b1e5e7;
	font-weight: bold;
	font-size: 20px;
	height: 50%;
	min-width: 10%;

	& a {
		color: #b1e5e7;
		font-weight: bold;
		font-size: 30px;
		text-decoration: none;
	}
}

.login {
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	gap: 10px;
}
.login .loginImg {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.logout {
	font-size: 12px;
	text-align: center;
	&:hover {
		cursor: pointer;
	}
}
