.myPosts {
    margin: 10px 25px;
    font-size: 24px;
    font-weight: bold;
    color: #b1e5e7;
}

.newPost {
    margin: 10px 35px;
    font-size: 18px;
    display: flex;
    align-items: stretch;
}

button {
    margin-left: 10px;
    font-weight: bold;
    background-color: #383fcc;
    color: #b1e5e7
}