.dialogs {
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 100%;
	font-weight: bolder;
	background: center no-repeat url("../../assets/bgD.jpg");
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.dialogs span,
.messages span {
	margin-left: 10px;
	color: #b1e5e7;
	font-size: 50px;
	display: block;
	margin-bottom: 20px;
}

.dialogsItem {
	color: #b1e5e7;
	min-width: 50%;
}

.dialog {
	padding: 10px;
	a {
		color: #b1e5e7;
		text-decoration: none;
		&.active {
			color: gold;
		}
	}
}

.message {
	padding: 10px;
	color: #b1e5e7;
}
